@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  li {
    margin-top: 1rem;
    margin-right: 3rem;
  }

  main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  h2 {
    font-size: 30px;
    padding-bottom: 1rem;
  }

  #position-subscribe-form {
    margin: 2rem auto;
    text-align: center;
  }

  img {
    width: 350px;
    align-self: center;
  }

  form {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  li {
    margin-right: 0rem;
  }

  ul {
    padding: 0;
  }
}
